version: '3.8'

services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: shaifali
      POSTGRES_PASSWORD: shaifali123
      POSTGRES_DB: partselect_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: